{% load static %}
<html>
    <head>
        <title> My first webpage</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    </head>
    <body>
        <h1> Welcome to Nick's webpage</h1>
        <p>
            Let me tell you more about my first webpage!
        </p>
        <h2> Subsection of Nick's webpage</h2>
        <p>
            Here's more information on Nick's webpage.
        </p>
        <ul>
            {% for x in mypersons %}
              <li>{{ x.name }} </li>
            {% endfor %}
        </ul>

    </body>
</html>